.race-recorder {

  table {
    overflow: auto;
    height: 600px;
  }

  th {
    display: flex;
  }

  .bi-caret-down {
    margin-left: auto;
  }


  .car-table-row {


    .bi-brush {
      margin-left: 30px;
      display: none;
    }
  
    &:hover {
      cursor: pointer;
      .bi-brush { display: inline; }
      background-color: rgb(231, 239, 255);
    }
  }
}

