@import "variables";
@import "bootsrap/bootstrap";
@import "driver-editor"; 
@import "score";

.modal.show {
  display: block;
}

tr.beign-modified {
  outline: 2px solid rgb(0, 0, 0);
  background-color: #eee;
}

