$performance-index-x: #f33258;
$performance-index-s2: #19d858;
$performance-index-s1: #bb65e8;
$performance-index-a: #f33258;
$performance-index-b: #fe632b;
$performance-index-c: #ffc533;
$performance-index-d: #3bbcf7;

$color-white: #ffffff;
$color-black: #000000;